:root {
  --red: #e50914;
  --black: #141414;
  --white: #ffffff;
  --grey: #aaaaaa;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--black);
  font-family: 'Arial', Times, serif;
  color: var(--white);
}

header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  color: var(--red);
  font-family: 'Arial Black', Times;
  font-size: 4rem;
  margin-left: 0.5rem;
}

header nav a {
  color: var(--grey);
  margin-right: 1rem;
  font-size: 1.6rem;
}

header nav a:hover {
  color: var(--white);
}

.wrapper {
  margin-left: 3rem;
}

/* TRAILER */
.trailer {
  font-size: 1.6rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
    url('/img/komi-bg.jpg');
  height: 40rem;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.trailer .wrapper {
  width: 70%;
}

.trailer .wrapper .trailer-desc {
  margin-bottom: 4rem;
}

.trailer .wrapper .trailer-title {
  margin-top: 2rem;
  font-size: 4rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

/* .trailer .wrapper .trailer-buttons {
  display: flex;
  flex-direction: row;
} */
.trailer .wrapper .trailer-buttons .trailer-button-play,
.trailer .wrapper .trailer-buttons .trailer-button-info {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: var(--white);
  padding: 1rem 2.5rem;
  font-size: 1.2rem;

  cursor: pointer;
  transition: 0.3s ease all;
  border-radius: 0.5rem;
  /*display: flex;
    gap: 1rem;*/
}

.trailer .wrapper .trailer-buttons .trailer-button-play:hover,
.trailer .wrapper .trailer-buttons .trailer-button-info:hover {
  background-color: rgba(0, 0, 0, 0.4);
  /* background-color: var(--white);
  color: var(--black); */
}

.trailer .wrapper .trailer-buttons .trailer-button-play i,
.trailer .wrapper .trailer-buttons .trailer-button-info i {
  margin-right: 0.8rem;
}

.box-trailer {
  height: 100%;
  width: 100%;
  display: block;
}

.carousel-trailers {
  margin-top: 0.5rem;
}
